@page "/baterie"
@using Microsoft.AspNetCore.Components.Authorization
@using SpravceBaterii.Components.Shared
@using SpravceBaterii.Data.Models
@using SpravceBaterii.Services
@using SpravceBaterii.Services.Tools

@inject BatteryService BatteryService
@inject ApplicationUserService UserService
@inject NavigationManager Navigation
@inject ExceptionHandlerService ExceptionHandlerService

<PageTitle>Seznam baterií</PageTitle>

<h1>Baterie</h1>

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
	<p>@errorMessage</p>
}

@if (showForm)
{
	<BatteryForm BatteryToUpdateId="@selectedBatteryId" BatterySaved="@CloseFormAndReloadList" Cancel="@CloseForm"></BatteryForm>
}
else
{
	<button @onclick="ShowAddBatteryForm">Přidat novou baterii</button>
}

<h2>Seznam všech baterií</h2>
<table>
	<tr>
		<th>Název zařízení</th>
		<th>Počet baterií v zařízení</th>
		<th>Označení baterie</th>
		<th>Typ baterie</th>
		<th>Datum expirace</th>
		<th>Do konce expirace zbývá dní</th>
		<th>Datum vložení</th>
		<th>Předpokládaná doba výdrže (ve dnech)</th>
		<th>Zbývající předpokládaná životnost</th>
		<th>Akce</th>
	</tr>
	@foreach (Battery battery in BatteryList)
	{
		<tr>
			<td>@(battery.Device != null ? battery.Device.Name : "")</td>
			<td>@(battery.Device != null ? battery.Device.BatteryCount : "")</td>
			<td>@battery.BatteryType.Name</td>
			@if (battery.IsRechargeable)
			{
				<td>Nabíjecí</td>
				<td></td>
				<td></td>
			}
			else
			{
				<td>Jednorázová</td>
				<td>@(battery.DisposableBattery != null ? battery.DisposableBattery.ExpirationDate : "")</td>
				BatteryStatus? batteryStatusExpirationDate = SetRemainingDaysToExpirate(battery);
				<td class="@(batteryStatusExpirationDate?.CssClass ?? "")">@(batteryStatusExpirationDate?.Days.ToString() ?? "")</td>
			}
			<td>@battery.InsertionDate</td>
			<td>@(battery.ExpectedLifespan != null ? battery.ExpectedLifespan : "")</td>
			@if (battery.ExpectedLifespan is not null)
			{
				BatteryStatus? batteryStatusExpectedLifeSpan = SetRemainingDaysToExpectedLife(battery);
				<td class="@(batteryStatusExpectedLifeSpan?.CssClass ?? "")">@(batteryStatusExpectedLifeSpan?.Days.ToString() ?? "")</td>
			}
			else
			{
				<td></td>
			}

			<td><button @onclick="() => ShowBatteryFormToUpdate(battery.Id)">Upravit</button></td>
		</tr>
	}
</table>

@code {
	private string errorMessage = "";
	private bool showForm = false;
	private List<Battery> BatteryList = new();
	private int? selectedBatteryId;
	private BatteryStatusEvaluator batteryStatusEvaluator = new();

	/// <summary>
	/// Při načtení stránky se zavolá načtení dat
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	protected override async Task OnInitializedAsync()
	{
		await LoadBatteryList();
	}

	/// <summary>
	/// Načtení informací o bateriích uživatele z databáze
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task LoadBatteryList()
	{
		try
		{
			BatteryList = await BatteryService.GetUserBatteries();
			BatteryList = BatteryList.OrderBy(b => b.Device?.Name == null).ThenBy(b => b.Device?.Name).ToList();
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Získání zbývajících dní do konce expirace baterie
	/// </summary>
	/// <param name="battery">Baterie</param>
	/// <returns>Status baterie / null</returns>
	private BatteryStatus? SetRemainingDaysToExpirate(Battery battery)
	{
		if (!battery.IsRechargeable && battery.DisposableBattery is not null)
		{
			return batteryStatusEvaluator.RemainingDaysToExpirate(battery.DisposableBattery.ExpirationDate);
		}
		return null;
	}

	/// <summary>
	/// Získání zbývajících dní do předpokládaného data životnosti
	/// </summary>
	/// <param name="battery">Baterie</param>
	/// <returns>Status baterie / null</returns>
	private BatteryStatus? SetRemainingDaysToExpectedLife(Battery battery)
	{
		if (battery.ExpectedLifespan is not null)
		{
			return batteryStatusEvaluator.RemainingDaysToExpectedLife(battery.InsertionDate, battery.ExpectedLifespan.Value);
		}
		return null;
	}

	/// <summary>
	/// Zobrazení komponenty s formulářem
	/// </summary>
	private void ShowAddBatteryForm()
	{
		selectedBatteryId = null;
		showForm = true;
	}

	private void ShowBatteryFormToUpdate(int batteryId)
	{
		selectedBatteryId = batteryId;
		showForm = true;
	}

	/// <summary>
	/// Skrytí komponenty s formulářem
	/// Znovunačtení dat
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task CloseFormAndReloadList()
	{
		showForm = false;
		selectedBatteryId = null;
		await LoadBatteryList();
	}

	/// <summary>
	/// Skrytí komponenty s formulářem
	/// </summary>
	private void CloseForm()
	{
		showForm = false;
		selectedBatteryId = null;
	}
}
