@page "/baterie"
@using Microsoft.AspNetCore.Components.Authorization
@using SpravceBaterii.Components.Shared
@using SpravceBaterii.Data.Models
@using SpravceBaterii.Services
@using SpravceBaterii.Services.Tools

@inject BatteryService BatteryService
@inject ExceptionHandlerService ExceptionHandlerService
@inject FormNavigationService FormNavigationService

<PageTitle>Správce baterií - Baterie</PageTitle>

<h1>Baterie</h1>

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
	<p class="error-message">@errorMessage</p>
}

@if (isDataLoaded)
{
	@if (FormNavigationService.GetCurrentForm()?.ComponentType == typeof(BatteryDetail))
	{
		<div class="overlay">
			<div class="overlay-content">
				<BatteryDetail BatteryId="@FormNavigationService.GetCurrentForm()!.SelectedId!.Value"
							   EditBattery="@(batteryId => FormNavigationService.Open(typeof(BatteryForm), batteryId))"
							   Deleted="@(async () => { FormNavigationService.CloseAll(); FormNavigationService.MarkForReload(); })"
							   Cancel="@(async (dataChanged) => { FormNavigationService.Close(); if (dataChanged) {FormNavigationService.MarkForReload();} })"></BatteryDetail>
			</div>
		</div>
	}
	else if (FormNavigationService.GetCurrentForm()?.ComponentType == typeof(BatteryForm))
	{
		<div class="overlay">
			<div class="overlay-content">
				<BatteryForm BatteryToUpdateId="@FormNavigationService.GetCurrentForm()?.SelectedId"
							 BatterySavedShowBatteryDetail="@(async (batteryId) => { FormNavigationService.Close(); FormNavigationService.MarkForReload(); FormNavigationService.Open(typeof(BatteryDetail), batteryId); })"
							 BatterySaved="@(async () => {FormNavigationService.Close(); FormNavigationService.MarkForReload();})"
							 Deleted="@(async () => { FormNavigationService.CloseAll(); FormNavigationService.MarkForReload(); })"
							 Cancel="@(async () => FormNavigationService.Close())"></BatteryForm>
			</div>
		</div>
	}
	else
	{
		<button @onclick="() => FormNavigationService.Open(typeof(BatteryForm), null)">Přidat novou baterii</button>
	}
}

<hr>

<h2>Seznam všech baterií</h2>

@if (BatteryList.Count < 1)
{
	<h3>Žádné uložené baterie</h3>
}
else
{
	<table class="selectable">
		<thead>
			<tr>
				<th>Název zařízení</th>
				<th>Počet</th>
				<th>Označení</th>
				<th>Popis</th>
				<th>Typ</th>
				<th>Datum expirace</th>
				<th>Do konce expirace zbývá dní</th>
				<th>Datum vložení</th>
				<th>Předpokládaná doba výdrže (ve dnech)</th>
				<th>Zbývající předpokládaná životnost</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Battery battery in BatteryList)
			{
				<tr @onclick="() => FormNavigationService.Open(typeof(BatteryDetail), battery.Id)">
					<td>@(battery.Device?.Name ?? "")</td>
					<td>@battery.Count</td>
					<td>@battery.BatteryType.Name</td>
					<td><textarea readonly>@battery.Description</textarea></td>
					@if (battery.IsRechargeable)
					{
						<td>Nabíjecí</td>
						<td></td>
						<td></td>
					}
					else
					{
						<td>Jednorázová</td>
						<td>@(battery.DisposableBattery?.ExpirationDate.ToShortDateString() ?? "")</td>
						BatteryStatus batteryStatusExpirationDate = SetRemainingDaysToExpirate(battery);
						<td class="@(batteryStatusExpirationDate?.CssClass ?? "")">@(batteryStatusExpirationDate?.Days?.ToString() ?? "")</td>
					}
					<td>@(battery.InsertionDate?.ToShortDateString() ?? "")</td>
					<td>@(battery.ExpectedLifespan?.ToString() ?? "")</td>
					@{
						BatteryStatus batteryStatusExpectedLifeSpan = SetRemainingDaysToExpectedLife(battery);
						<td class="@(batteryStatusExpectedLifeSpan?.CssClass ?? "")">@(batteryStatusExpectedLifeSpan?.Days?.ToString() ?? "")</td>
					}
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private string errorMessage = "";
	private bool isDataLoaded = false;
	private List<Battery> BatteryList = new();
	private BatteryStatusEvaluator batteryStatusEvaluator = new();

	/// <summary>
	/// Při načtení stránky se zavolá načtení dat
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	protected override async Task OnInitializedAsync()
	{
		FormNavigationService.Reset();

		await LoadBatteryList();
	}

	/// <summary>
	/// Po vykreslení stránky se zkontroluje, zda nejsou potřeba znovunačíst data
	/// </summary>
	/// <param name="firstRender">bool, zda se stránka vykresluje poprvé</param>
	/// <returns>Asynchronní operace</returns>
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (FormNavigationService.ShouldReload())
		{
			await LoadBatteryList();
			FormNavigationService.Reset();

			//Aktualizace UI
			StateHasChanged();
		}
	}

	/// <summary>
	/// Načtení informací o bateriích uživatele z databáze
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task LoadBatteryList()
	{
		try
		{
			BatteryList = await BatteryService.GetUserBatteries();
			BatteryList = BatteryList.OrderBy(b => b.Device?.Name == null).ThenBy(b => b.Device?.Name).ToList();

			isDataLoaded = true;
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Získání stavu baterie podle zbývajících dní do konce expirace
	/// </summary>
	/// <param name="battery">Baterie</param>
	/// <returns>Status baterie</returns>
	private BatteryStatus SetRemainingDaysToExpirate(Battery battery)
	{
		if (!battery.IsRechargeable && battery.DisposableBattery is not null)
		{
			return batteryStatusEvaluator.RemainingDaysToExpirate(battery.DisposableBattery.ExpirationDate);
		}
		return new BatteryStatus();
	}

	/// <summary>
	/// Získání stavu baterie podle zbývajících dní do předpokládaného data životnosti
	/// </summary>
	/// <param name="battery">Baterie</param>
	/// <returns>Status baterie</returns>
	private BatteryStatus SetRemainingDaysToExpectedLife(Battery battery)
	{
		if (battery.ExpectedLifespan is not null && battery.InsertionDate is not null)
		{
			return batteryStatusEvaluator.RemainingDaysToExpectedLife(battery.InsertionDate.Value, battery.ExpectedLifespan.Value);
		}
		return new BatteryStatus();
	}
}
