@page "/zarizeni"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using SpravceBaterii.Components.Shared
@using SpravceBaterii.Data.Models
@using SpravceBaterii.Services
@using SpravceBaterii.Services.Tools

@implements IDisposable

@inject DeviceService DeviceService
@inject ExceptionHandlerService ExceptionHandlerService
@inject ModalNavigationService ModalNavigationService

<PageTitle>Správce baterií - Zařízení</PageTitle>

<div class="component-header">
	<h1>Zařízení</h1>

	<button @onclick="() => ModalNavigationService.Open(typeof(DeviceForm), null)">Přidat nové zařízení</button>
</div>

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
	<p class="error-message">@errorMessage</p>
}

<hr>

@if (DeviceList.Count < 1)
{
	<h3>Žádná uložená zařízení</h3>
}
else
{
	<div class="table-container">
		<table class="selectable">
			<thead>
				<tr>
					<th>Název zařízení</th>
					<th>Popis zařízení</th>
					<th>Počet baterií (vloženo / max)</th>
					<th>Datum expirace vložených baterií</th>
					<th>Do konce expirace zbývá dní</th>
					<th>Zbývající předpokládaná životnost</th>
					<th>Výrobce</th>
					<th>Umístění</th>
				</tr>
			</thead>
			<tbody>
				@foreach (Device device in DeviceList)
				{
					<tr @onclick="() => ModalNavigationService.Open(typeof(DeviceDetail), device.Id)" title="Zobrazit detail">
						<td>@device.Name</td>
						<td><textarea disabled>@device.Description</textarea></td>

						@{
							int insertedCount = device.Batteries?.Sum(b => b.Count) ?? 0;

							if (insertedCount > 0 && insertedCount < device.BatteryCount)
							{
								<td class="count-warning" title="Zařízení aktuálně neobsahuje dostatek baterií">@insertedCount / @device.BatteryCount</td>
							}
							else
							{
								<td>@insertedCount / @device.BatteryCount</td>
							}
						}


						@{
							DateOnly? date = GetExpirationDate(device);
							<td>@(date.HasValue? date.Value.ToShortDateString() : "")</td>

							BatteryStatus StatusExpirationDate = SetRemainingDaysToExpirate(device);
							<td class="@(StatusExpirationDate?.CssClass ?? "")">@(StatusExpirationDate?.Days?.ToString() ?? "")</td>

							BatteryStatus batteryStatusExpectedLifeSpan = SetRemainingDaysToExpectedLife(device);
							<td class="@(batteryStatusExpectedLifeSpan?.CssClass ?? "")">@(batteryStatusExpectedLifeSpan?.Days?.ToString() ?? "")</td>
						}

						<td>@device.Manufacturer</td>
						<td>@device.Location?.Name</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

@code {
	private string errorMessage = "";
	private List<Device> DeviceList = new();
	private BatteryStatusEvaluator batteryStatusEvaluator = new();

	/// <summary>
	/// Při načtení stránky se zavolá načtení dat
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	protected override async Task OnInitializedAsync()
	{
		ModalNavigationService.Reset();

		await LoadDeviceList();

		//Přihlášení k události pro změnu navigace, aby se načetla data po návratu z modální komponenty
		ModalNavigationService.ModalChanged += NavigationChanged;
	}

	/// <summary>
	/// Při zavření modální komponenty se odhlásí odběr události
	/// </summary>
	public void Dispose()
	{
		ModalNavigationService.ModalChanged -= NavigationChanged;
	}

	/// <summary>
	/// Po změně modální navigace se zkontroluje, zda nejsou potřeba znovunačíst data
	/// </summary>
	private async void NavigationChanged()
	{
		if (ModalNavigationService.ShouldReload())
		{
			await LoadDeviceList();
			ModalNavigationService.Reset();

			//Aktualizace UI
			StateHasChanged();
		}
	}

	/// <summary>
	/// Načtení informací o zařízeních uživatele z databáze
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task LoadDeviceList()
	{
		try
		{
			DeviceList = await DeviceService.GetDevices();
			DeviceList = DeviceList.OrderBy(d => d.Name).ToList();
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	private DateOnly? GetExpirationDate(Device device)
	{
		return device.Batteries?
					.Where(b => b.DisposableBattery?.ExpirationDate != null)
					.Min(b => b.DisposableBattery?.ExpirationDate);
	}
	private Battery? GetBatteryWithMinExpectedLife(Device device)
	{
		return device.Batteries?
			.Where(b => b.ExpectedLifespan != null)
			.OrderBy(b => b.ExpectedLifespan)
			.FirstOrDefault();
	}

	/// <summary>
	/// Získání stavu baterie podle zbývajících dní do konce expirace
	/// </summary>
	/// <param name="device">Zařízení</param>
	/// <returns>Status baterie</returns>
	private BatteryStatus SetRemainingDaysToExpirate(Device device)
	{
		DateOnly? date = GetExpirationDate(device);
		if (date is not null)
		{
			BatteryStatus status = batteryStatusEvaluator.RemainingDaysToExpirate(date.Value);
			return status;
		}
		return new BatteryStatus();
	}

	/// <summary>
	/// Získání stavu baterie podle zbývajících dní do předpokládaného data životnosti
	/// </summary>
	/// <param name="device">Zařízení</param>
	/// <returns>Status baterie</returns>
	private BatteryStatus SetRemainingDaysToExpectedLife(Device device)
	{
		Battery? battery = GetBatteryWithMinExpectedLife(device);
		if (battery is not null && battery.ExpectedLifespan is not null && battery.InsertionDate is not null)
		{
			return batteryStatusEvaluator.RemainingDaysToExpectedLife(battery.InsertionDate.Value, battery.ExpectedLifespan.Value);
		}
		return new BatteryStatus();
	}
}
