@page "/zarizeni"
@using Microsoft.AspNetCore.Components.Authorization
@using SpravceBaterii.Components.Shared
@using SpravceBaterii.Data.Models
@using SpravceBaterii.Services
@using SpravceBaterii.Services.Tools

@inject DeviceService DeviceService
@inject ExceptionHandlerService ExceptionHandlerService
@inject FormNavigationService FormNavigationService

<PageTitle>Seznam zařízení</PageTitle>

<h1>Zařízení</h1>

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
	<p>@errorMessage</p>
}

@if (isDataLoaded)
{
	@if (FormNavigationService.GetCurrentForm()?.ComponentType == typeof(DeviceDetail))
	{
		<DeviceDetail DeviceId="@FormNavigationService.GetCurrentForm()!.SelectedId!.Value"
					  EditBattery="@(batteryId => FormNavigationService.Open(typeof(BatteryForm), batteryId))"
					  EditDevice="@(deviceId => FormNavigationService.Open(typeof(DeviceForm), deviceId))"
					  InsertBattery="@(deviceId => FormNavigationService.Open(typeof(InsertBatteryToDevice), deviceId))"
					  SetLocation="@(deviceId => FormNavigationService.Open(typeof(SetLocation), deviceId))"
					  Deleted="@(async () => {FormNavigationService.Close(); FormNavigationService.MarkForReload();})"
					  Cancel="@(async (dataChanged) => { FormNavigationService.Close(); if (dataChanged) {FormNavigationService.MarkForReload();} })"></DeviceDetail>
	}
	else if (FormNavigationService.GetCurrentForm()?.ComponentType == typeof(BatteryForm))
	{
		<BatteryForm BatteryToUpdateId="@FormNavigationService.GetCurrentForm()?.SelectedId"
					 BatterySaved="@(() => { FormNavigationService.Close(); FormNavigationService.MarkForReload();})"
					 Cancel="@(() => FormNavigationService.Close())"></BatteryForm>
	}
	else if (FormNavigationService.GetCurrentForm()?.ComponentType == typeof(DeviceForm))
	{
		<DeviceForm DeviceToUpdateId="@FormNavigationService.GetCurrentForm()?.SelectedId"
					DeviceSavedShowDeviceDetail="@(async (deviceId) => {FormNavigationService.Close(); FormNavigationService.MarkForReload(); FormNavigationService.Open(typeof(DeviceDetail), deviceId);})"
					DeviceSaved="@(async () => {FormNavigationService.Close(); FormNavigationService.MarkForReload(); })"
					Cancel="@(async () => FormNavigationService.Close())"></DeviceForm>
	}
	else if (FormNavigationService.GetCurrentForm()?.ComponentType == typeof(InsertBatteryToDevice))
	{
		<InsertBatteryToDevice DeviceId="@FormNavigationService.GetCurrentForm()!.SelectedId!.Value"
							   EditBattery="@(batteryId => FormNavigationService.Open(typeof(BatteryForm), batteryId))"
							   Saved="@(async () => { FormNavigationService.Close(); FormNavigationService.MarkForReload(); })"
							   Cancel="@(async () => FormNavigationService.Close())"></InsertBatteryToDevice>
	}
	else if (FormNavigationService.GetCurrentForm()?.ComponentType == typeof(SetLocation))
	{
		<SetLocation DeviceId="@FormNavigationService.GetCurrentForm()!.SelectedId!.Value"
							   Saved="@(async () => { FormNavigationService.Close(); FormNavigationService.MarkForReload(); })"
							   Cancel="@(async () => FormNavigationService.Close())"></SetLocation>
	}
	else
	{
		<button @onclick="() => FormNavigationService.Open(typeof(DeviceForm), null)">Přidat nové zařízení</button>
	}
}

<hr>

<h2>Seznam všech zařízení</h2>

@if (DeviceList.Count < 1)
{
	<h3>Žádná uložená zařízení</h3>
}
else
{
	<table class="selectable">
		<thead>
			<tr>
				<th>Název zařízení</th>
				<th>Popis zařízení</th>
				<th>Max. počet baterií v zařízení</th>
				<th>Počet vložených baterií</th>
				<th>Nejbližší datum expirace vložených baterií</th>
				<th>Do konce expirace zbývá dní</th>
				<th>Výrobce</th>
				<th>Umístění</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Device device in DeviceList)
			{
				<tr @onclick="() => FormNavigationService.Open(typeof(DeviceDetail), device.Id)">
					<td>@device.Name</td>
					<td><textarea readonly>@device.Description</textarea></td>
					<td>@device.BatteryCount</td>
					<td>@(device.Batteries?.Sum(b => b.Count) ?? 0)</td>

					@{
						DateOnly? date = GetExpirationDate(device);
						<td>@(date.HasValue? date.Value.ToShortDateString() : "")</td>

						BatteryStatus StatusExpirationDate = SetRemainingDaysToExpirate(device);
						<td class="@(StatusExpirationDate?.CssClass ?? "")">@(StatusExpirationDate?.Days?.ToString() ?? "")</td>
					}

					<td>@device.Manufacturer</td>
					<td>@device.Location?.Name</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private string errorMessage = "";
	private bool isDataLoaded = false;
	private List<Device> DeviceList = new();
	private BatteryStatusEvaluator batteryStatusEvaluator = new();

	/// <summary>
	/// Při načtení stránky se zavolá načtení dat
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	protected override async Task OnInitializedAsync()
	{
		FormNavigationService.Reset();

		await LoadDeviceList();
	}

	/// <summary>
	/// Po vykreslení stránky se zkontroluje, zda nejsou potřeba znovunačíst data
	/// </summary>
	/// <param name="firstRender">bool, zda se stránka vykresluje poprvé</param>
	/// <returns>Asynchronní operace</returns>
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (FormNavigationService.ShouldReload())
		{
			await LoadDeviceList();
			FormNavigationService.Reset();

			//Aktualizace UI
			StateHasChanged();
		}
	}
	/// <summary>
	/// Načtení informací o zařízeních uživatele z databáze
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task LoadDeviceList()
	{
		try
		{
			DeviceList = await DeviceService.GetDevices();
			DeviceList = DeviceList.OrderBy(d => d.Name).ToList();

			isDataLoaded = true;
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	private DateOnly? GetExpirationDate(Device device)
	{
		return device.Batteries?
					.Where(b => b.DisposableBattery?.ExpirationDate != null)
					.Min(b => b.DisposableBattery?.ExpirationDate);
	}

	/// <summary>
	/// Získání stavu baterie podle zbývajících dní do konce expirace
	/// </summary>
	/// <param name="device">Zařízení</param>
	/// <returns>Status baterie</returns>
	private BatteryStatus SetRemainingDaysToExpirate(Device device)
	{
		DateOnly? date = GetExpirationDate(device);
		if (date is not null)
		{
			BatteryStatus status = batteryStatusEvaluator.RemainingDaysToExpirate(date.Value);
			return status;
		}
		return new BatteryStatus();
	}
}
