@using Microsoft.AspNetCore.Components.Authorization
@using SpravceBaterii.Data.Models
@using SpravceBaterii.Services

@inject BatteryService BatteryService
@inject BatteryTypeService BatteryTypeService
@inject ChemicalCompositionService ChemicalCompositionService
@inject ApplicationUserService UserService
@inject NavigationManager Navigation

<h2>Formulář pro zadání nové baterie</h2>

<EditForm Model="@battery" OnValidSubmit="SaveBattery" FormName="AddBatteryForm">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<label for="input-InsertionDate">Datum vložení: </label>
	<InputDate id="input-InsertionDate" @bind-Value="battery.InsertionDate" required></InputDate>

	<label for="input-ExpectedLifespan">Očekávaná doba životnosti (ve dnech): </label>
	<InputNumber id="input-ExpectedLifespan" @bind-Value="battery.ExpectedLifespan"></InputNumber>

	<label for="input-Manufacturer">Výrobce: </label>
	<InputText id="input-Manufacturer" @bind-Value="battery.Manufacturer"></InputText>

	<label for="input-BatteryType">Typ: </label>
	<InputSelect id="input-BatteryType" @bind-Value="battery.BatteryTypeId" required>
		<option value="0">- Vyberte typ -</option>
		@foreach (BatteryType batteryType in BatteryTypes)
		{
			<option value="@batteryType.Id">@batteryType.Name</option>
		}
	</InputSelect>

	<label for="input-ChemicalComposition">Chemické složení: </label>
	<InputSelect id="input-ChemicalComposition" @bind-Value="battery.ChemicalCompositionId">
		<option value="">- Vyberte typ -</option>
		@foreach (ChemicalComposition chemicalComposition in ChemicalCompositions)
		{
			<option value="@chemicalComposition.Id">@chemicalComposition.Name</option>
		}
	</InputSelect>

	<label for="input-IsRechargeable">Nabíjecí/jednorázová: </label>
	<InputRadioGroup id="input-IsRechargeable" @bind-Value="battery.IsRechargeable" required>
		<InputRadio Value="true" id="input-IsRechargeable-true">Nabíjecí</InputRadio>
		<label for="input-IsRechargeable-true">Nabíjecí</label>
		<InputRadio Value="false" id="input-IsRechargeable-false">Jednorázová</InputRadio>
		<label for="input-IsRechargeable-false">Jednorázová</label>
	</InputRadioGroup>

	<button type="submit">Uložit</button>
</EditForm>

@code {
	/// <summary>
	/// Callback události z rodičovské komponenty
	/// </summary>
	[Parameter]
	public EventCallback BatterySaved { get; set; }

	private List<BatteryType> BatteryTypes = new();
	private List<ChemicalComposition> ChemicalCompositions = new();
	private Battery battery = new()
	{
		InsertionDate = DateOnly.FromDateTime(DateTime.Today)
	};

	protected override async Task OnInitializedAsync()
	{
		BatteryTypes = await BatteryTypeService.GetBatteryTypes();
		ChemicalCompositions = await ChemicalCompositionService.GetChemicalCompositions();
	}

	/// <summary>
	/// Uložení zadaných informací o nové baterii do databáze
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task SaveBattery()
	{
		string? userId = await UserService.GetUserIdAsync();

		if (string.IsNullOrEmpty(userId))
		{
			Navigation.NavigateTo("/", true);
		}
		else
		{
			battery.UserId = userId;
			await BatteryService.SaveBattery(battery);
		}


		//Zavolání události v rodičovské komponentě
		await BatterySaved.InvokeAsync();
	}
}
