@using Microsoft.AspNetCore.Components.Authorization
@using SpravceBaterii.Data.Models
@using SpravceBaterii.Services
@using SpravceBaterii.Services.Tools

@inject BatteryService BatteryService
@inject DeviceService DeviceService
@inject BatteryTypeService BatteryTypeService
@inject ChemicalCompositionService ChemicalCompositionService
@inject ApplicationUserService UserService
@inject NavigationManager Navigation
@inject ExceptionHandlerService ExceptionHandlerService
@inject DisposableBatteryService DisposableBatteryService
@inject RechargeableBatteryService RechargeableBatteryService

<h2>Formulář pro zadání nové baterie</h2>

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
	<p>@errorMessage</p>
}

<EditForm Model="@battery" OnValidSubmit="SaveBattery" FormName="AddBatteryForm">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<label for="input-Device">Zařízení (ve kterém je umístěna): </label>
	<InputSelect id="input-Device" @bind-Value="battery.DeviceId">
		<option value="">- Vyberte typ -</option>
		@foreach (Device device in Devices)
		{
			<option value="@device.Id">@device.Name</option>
		}
	</InputSelect>

	<span>Poloha vybraného zařízení: @(selectedDeviceLocation ?? "-")</span>

	<label for="input-InsertionDate">Datum vložení: </label>
	<InputDate id="input-InsertionDate" @bind-Value="battery.InsertionDate" required></InputDate>

	<label for="input-ExpectedLifespan">Očekávaná doba životnosti (ve dnech): </label>
	<InputNumber id="input-ExpectedLifespan" @bind-Value="battery.ExpectedLifespan"></InputNumber>

	@if (battery.ExpectedLifespan is not null)
	{
		SetRemainingDaysToExpectedLife();
		<span>Podle očekávané životnosti zbývá do vybití <strong>@remainingExpectedLifeSpanDays</strong> dní</span>
	}

	<label for="input-Manufacturer">Výrobce: </label>
	<InputText id="input-Manufacturer" @bind-Value="battery.Manufacturer"></InputText>

	<label for="input-BatteryType">Typ: </label>
	<InputSelect id="input-BatteryType" @bind-Value="battery.BatteryTypeId" required>
		<option value="0">- Vyberte typ -</option>
		@foreach (BatteryType batteryType in BatteryTypes)
		{
			<option value="@batteryType.Id">@batteryType.Name</option>
		}
	</InputSelect>

	<label for="input-ChemicalComposition">Chemické složení: </label>
	<InputSelect id="input-ChemicalComposition" @bind-Value="battery.ChemicalCompositionId">
		<option value="">- Vyberte typ -</option>
		@foreach (ChemicalComposition chemicalComposition in ChemicalCompositions)
		{
			<option value="@chemicalComposition.Id">@chemicalComposition.Name</option>
		}
	</InputSelect>

	<label for="input-IsRechargeable">Nabíjecí/jednorázová: </label>
	<InputRadioGroup id="input-IsRechargeable" @bind-Value="battery.IsRechargeable" required>
		<InputRadio Value="true" id="input-IsRechargeable-true">Nabíjecí</InputRadio>
		<label for="input-IsRechargeable-true">Nabíjecí</label>
		<InputRadio Value="false" id="input-IsRechargeable-false">Jednorázová</InputRadio>
		<label for="input-IsRechargeable-false">Jednorázová</label>
	</InputRadioGroup>

	@if (battery.IsRechargeable)
	{
		<!--Nabíjecí baterie-->
		<label for="input-RechargeableBattery-Capacity">Kapacita: </label>
		<InputNumber id="input-RechargeableBattery-Capacity" @bind-Value="rechargeableBattery.Capacity"></InputNumber>

		<label for="input-RechargeableBattery-CycleCount">Počet cyklů: </label>
		<InputNumber id="input-RechargeableBattery-CycleCount" @bind-Value="rechargeableBattery.CycleCount"></InputNumber>
	}
	else
	{
		<!--Jednorázová baterie-->
		<label for="input-DisposableBattery-ExpirationDate">Datum expirace: </label>
		<InputDate id="input-DisposableBattery-ExpirationDate" @bind-Value="disposableBattery.ExpirationDate" required></InputDate>

		SetRemainingDaysToExpirate();
		<span>Do konce expirace zbývá <strong>@remainingDays</strong> dní</span>
	}

	<hr>

	<button type="submit">Uložit</button>
	<button type="button" @onclick="Close">Zavřít bez uložení</button>
	<button type="button" @onclick="() => showConfirm = true">Smazat tuto baterii</button>

	@if (showConfirm)
	{
		<div>
			<p>Opravdu chcete odstranit tuto baterii?</p>
			<button type="button" @onclick="() => DeleteBattery(battery.Id)">Ano</button>
			<button type="button" @onclick="() => showConfirm = false">Ne</button>
		</div>
	}
</EditForm>

@code {
	private string errorMessage = "";
	private string? selectedDeviceLocation => Devices.FirstOrDefault(d => d.Id == battery.DeviceId)?.Location?.Name;
	private bool showConfirm = false;

	private int remainingDays = 0, remainingExpectedLifeSpanDays = 0;
	private BatteryStatusEvaluator batteryStatusEvaluator = new();

	/// <summary>
	/// Nastavení zbývajících dní do konce expirace baterie
	/// </summary>
	private void SetRemainingDaysToExpirate()
	{
		if (!battery.IsRechargeable)
		{
			remainingDays = batteryStatusEvaluator.RemainingDaysToExpirate(disposableBattery.ExpirationDate);
		}
	}
	/// <summary>
	/// Nastavení zbývajících dní do předpokládaného data životnosti
	/// </summary>
	private void SetRemainingDaysToExpectedLife()
	{
		if (battery.ExpectedLifespan is not null)
		{
			remainingExpectedLifeSpanDays = batteryStatusEvaluator.RemainingDaysToExpectedLife(battery.InsertionDate, battery.ExpectedLifespan.Value);
		}
	}

	/// <summary>
	/// Callback události z rodičovské komponenty
	/// </summary>
	[Parameter]
	public int? BatteryToUpdateId { get; set; }
	[Parameter]
	public EventCallback BatterySaved { get; set; }
	[Parameter]
	public EventCallback Cancel { get; set; }

	private List<BatteryType> BatteryTypes = new();
	private List<ChemicalComposition> ChemicalCompositions = new();
	private List<Device> Devices = new();
	private Battery battery = new();
	private RechargeableBattery rechargeableBattery = new();
	private DisposableBattery disposableBattery = new();


	/// <summary>
	/// Načtení potřebných dat při zobrazení komponenty
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	protected override async Task OnInitializedAsync()
	{
		try
		{
			if (BatteryToUpdateId is not null)
			{
				battery = await BatteryService.GetUserBatteryById(BatteryToUpdateId.Value);

				if (!battery.IsRechargeable)
				{
					disposableBattery = await DisposableBatteryService.GetDisposableBatteryById(battery.Id) ?? new()
						{
							ExpirationDate = DateOnly.FromDateTime(DateTime.Today)
						};
					rechargeableBattery = new();
				}
				if (battery.IsRechargeable)
				{
					rechargeableBattery = await RechargeableBatteryService.GetRechargeableBatteryById(battery.Id) ?? new();
					disposableBattery = new()
						{
							ExpirationDate = DateOnly.FromDateTime(DateTime.Today)
						};
				}
			}
			else
			{
				battery = new()
					{
						InsertionDate = DateOnly.FromDateTime(DateTime.Today)
					};
				disposableBattery = new()
					{
						ExpirationDate = DateOnly.FromDateTime(DateTime.Today)
					};
				rechargeableBattery = new();
			}

			BatteryTypes = await BatteryTypeService.GetBatteryTypes();
			ChemicalCompositions = await ChemicalCompositionService.GetChemicalCompositions();
			Devices = await DeviceService.GetDevices();
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Uložení zadaných informací o (nové / vybrané) baterii do databáze
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task SaveBattery()
	{
		try
		{
			battery.RechargeableBattery = rechargeableBattery;
			battery.DisposableBattery = disposableBattery;

			if (BatteryToUpdateId is null)
			{
				await BatteryService.AddBattery(battery);
			}
			else
			{
				await BatteryService.UpdateBattery(battery);
			}

			//Zavolání události v rodičovské komponentě
			await BatterySaved.InvokeAsync();
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Odstranění vybrané baterie z databáze
	/// </summary>
	/// <param name="batteryId">ID vybrané baterie</param>
	/// <returns>Asynchronní operace</returns>
	private async Task DeleteBattery(int batteryId)
	{
		try
		{
			await BatteryService.DeleteBatteryById(batteryId);

			//Zavolání události v rodičovské komponentě
			await BatterySaved.InvokeAsync();
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Zavření této komponety s formulářem bez uložení zadaných dat
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task Close()
	{
		//Zavolání události v rodičovské komponentě
		await Cancel.InvokeAsync();
	}
}
