@using Microsoft.AspNetCore.Components.Authorization
@using SpravceBaterii.Data.Models
@using SpravceBaterii.Services
@using SpravceBaterii.Services.Tools

@inject BatteryService BatteryService
@inject DeviceService DeviceService
@inject ExceptionHandlerService ExceptionHandlerService
@inject ModalNavigationService ModalNavigationService

<div class="component-header">
	<h2>Detail baterie</h2>
</div>

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
	<p class="error-message">@errorMessage</p>
}

<!--Zobrazení potvrzovacího dialogu-->
<ConfirmDialog @ref="confirmDialog" />

@if (isDataLoaded)
{
	<table>
		<tr>
			<td>Typ: </td>
			<td>@battery.BatteryType.Name</td>
		</tr>
		<tr>
			<td>Chemické složení: </td>
			<td>@battery.ChemicalComposition?.Name</td>
		</tr>
		<tr>
			<td>Počet: </td>
			<td>@battery.Count</td>
		</tr>
		<tr>
			<td>Výrobce: </td>
			<td>@battery.Manufacturer</td>
		</tr>
		<tr>
			<td>Popis: </td>
			<td><textarea readonly>@battery.Description</textarea></td>
		</tr>
		<tr>
			<td>Nabíjecí/jednorázová: </td>
			@if (battery.IsRechargeable)
			{
				<td>Nabíjecí</td>
			}
			else
			{
				<td>Jednorázová</td>
			}
		</tr>
		@if (battery.IsRechargeable)
		{
			<tr>
				<td>Kapacita: </td>
				<td>@battery.RechargeableBattery?.Capacity</td>
			</tr>
			<tr>
				<td>Počet cyklů: </td>
				<td>@battery.RechargeableBattery?.CycleCount</td>
			</tr>
		}
		else
		{
			<tr>
				<td>Datum expirace: </td>
				<td>@battery.DisposableBattery?.ExpirationDate</td>
			</tr>
			<tr>
				<td>Do konce expirace zbývá dní: </td>
				<td class="@(batteryStatusExpirationDate?.CssClass ?? "")">@(batteryStatusExpirationDate?.Days?.ToString() ?? "")</td>
			</tr>
		}
		@if (battery.DeviceId is not null)
		{
			<tr>
				<td>Očekávaná doba životnosti (ve dnech): </td>
				<td>@battery.ExpectedLifespan</td>
			</tr>
			<tr>
				<td>Do konce životnosti zbývá dní: </td>
				<td class="@(batteryStatusExpectedLifeSpan?.CssClass ?? "")">@(batteryStatusExpectedLifeSpan?.Days?.ToString() ?? "")</td>
			</tr>
		}
		<tr>
			<td>Byla použita v zařízení: </td>
			<td><textarea readonly>@battery.UsageHistory</textarea></td>
		</tr>
	</table>
}
else
{
	<h2>Detail baterie</h2>
}

<hr>

@if (battery.DeviceId is null)
{
	<h3>Tato baterie není vložena v žádném zařízení</h3>
}
else
{
	<h3>Vložena v zařízení:</h3>

	<table>
		<tr>
			<td>Název zařízení: </td>
			<td>@device.Name</td>
		</tr>
		<tr>
			<td>Datum vložení baterie: </td>
			<td>@battery.InsertionDate</td>
		</tr>
		<tr>
			<td>Popis zařízení: </td>
			<td><textarea readonly>@device.Description</textarea></td>
		</tr>
		<tr>
			<td>Počet baterií (vloženo / max)</td>
			@{
				int insertedCount = device.Batteries?.Sum(b => b.Count) ?? 0;

				if (insertedCount > 0 && insertedCount < device.BatteryCount)
				{
					<td class="count-warning" title="Zařízení aktuálně neobsahuje dostatek baterií">@insertedCount / @device.BatteryCount</td>
				}
				else
				{
					<td>@insertedCount / @device.BatteryCount</td>
				}
			}
		</tr>
		<tr>
			<td>Výrobce: </td>
			<td>@device.Manufacturer</td>
		</tr>
		<tr>
			<td>Umístění: </td>
			<td>@device.Location?.Name</td>
		</tr>
	</table>
}

<hr>

<div class="action-buttons">
	<button type="button" @onclick="() => ModalNavigationService.Open(typeof(BatteryForm), battery.Id)">Upravit</button>

	@if (battery.DeviceId is not null && battery.IsRechargeable)
	{
		<button type="button" @onclick="() => ModalNavigationService.Open(typeof(ChargeBattery), battery.Id)">Nabít</button>
	}

	@if (battery.DeviceId is not null)
	{
		<button type="button" @onclick="async () => await EjectBatteryFromDevice()">Vysunout ze zařízení a ponechat</button>
		<button type="button" @onclick="async () => await DeleteBattery()">Vysunout ze zařízení a odstranit</button>
	}
	else
	{
		<button type="button" @onclick="async () => await DeleteBattery()">Odstranit</button>
	}
</div>

@code {
	/// <summary>
	/// Vstupní parametr - ID položky pro její načtení
	/// </summary>
	[Parameter]
	public int ItemId { get; set; }


	private string errorMessage = "";
	private ConfirmDialog confirmDialog = default!;
	private bool isDataLoaded = false;

	private Battery battery = new();
	private Device device = new();

	private BatteryStatus? batteryStatusExpirationDate;
	private BatteryStatus? batteryStatusExpectedLifeSpan;

	private BatteryStatusEvaluator batteryStatusEvaluator = new();


	/// <summary>
	/// Načtení potřebných dat při zobrazení komponenty
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	protected override async Task OnInitializedAsync()
	{
		await LoadBattery();
	}

	/// <summary>
	/// Načtení potřebných informací z databáze
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task LoadBattery()
	{
		try
		{
			battery = await BatteryService.GetUserBatteryByIdWithDetails(ItemId);

			if (battery.DeviceId is not null)
			{
				device = await DeviceService.GetUserDeviceByIdWithDetails(battery.DeviceId.Value);
			}

			batteryStatusExpirationDate = SetRemainingDaysToExpirate(battery);
			batteryStatusExpectedLifeSpan = SetRemainingDaysToExpectedLife(battery);

			isDataLoaded = true;
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Vysunutí baterie ze zařízení
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task EjectBatteryFromDevice()
	{
		try
		{
			if (battery.DeviceId is null)
			{
				return;
			}

			if (await confirmDialog.Show("Opravdu chcete baterii vysunout ze zařízení a ponechat ji v evidenci?", new() { "Vysunout a ponechat", "Zrušit" }) == 1)
			{
				await BatteryService.EjectBatteryFromDevice(battery.Id, device.Name);

				ModalNavigationService.MarkForReload();

				await LoadBattery();
			}
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Odstranění baterie z databáze
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task DeleteBattery()
	{
		try
		{
			string question;
			List<string> confirmText;

			if (battery.DeviceId is not null)
			{
				question = "Opravdu chcete baterii vysunout ze zařízení a odstranit ji z evidence?";
				confirmText = new() { "Vysunout a odstranit", "Zrušit" };
			}
			else
			{
				question = "Opravdu chcete tuto baterii odstranit z evidence?";
				confirmText = new() { "Odstranit", "Zrušit" };
			}

			if (await confirmDialog.Show(question, confirmText) == 1)
			{
				await BatteryService.DeleteBatteryById(battery.Id);
				ModalNavigationService.MarkForReload();
				ModalNavigationService.CloseAll();
			}
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Získání stavu baterie podle zbývajících dní do konce expirace
	/// </summary>
	/// <param name="battery">Baterie</param>
	/// <returns>Status baterie</returns>
	private BatteryStatus SetRemainingDaysToExpirate(Battery battery)
	{
		if (!battery.IsRechargeable && battery.DisposableBattery is not null)
		{
			return batteryStatusEvaluator.RemainingDaysToExpirate(battery.DisposableBattery.ExpirationDate);
		}
		return new BatteryStatus();
	}

	/// <summary>
	/// Získání stavu baterie podle zbývajících dní do předpokládaného data životnosti
	/// </summary>
	/// <param name="battery">Baterie</param>
	/// <returns>Status baterie</returns>
	private BatteryStatus SetRemainingDaysToExpectedLife(Battery battery)
	{
		if (battery.ExpectedLifespan is not null && battery.InsertionDate is not null)
		{
			return batteryStatusEvaluator.RemainingDaysToExpectedLife(battery.InsertionDate.Value, battery.ExpectedLifespan.Value);
		}
		return new BatteryStatus();
	}
}
