@using Microsoft.AspNetCore.Components.Authorization
@using SpravceBaterii.Data.Models
@using SpravceBaterii.Services
@using SpravceBaterii.Services.Tools

@inject BatteryService BatteryService
@inject DeviceService DeviceService
@inject BatteryTypeService BatteryTypeService
@inject ChemicalCompositionService ChemicalCompositionService
@inject ExceptionHandlerService ExceptionHandlerService
@inject DisposableBatteryService DisposableBatteryService
@inject RechargeableBatteryService RechargeableBatteryService

<h2>Formulář pro zadání nové baterie</h2>

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
	<p class="error-message">@errorMessage</p>
}

<EditForm Model="@battery" OnValidSubmit="SaveBattery" FormName="AddBatteryForm" class="add-update">
	<DataAnnotationsValidator />
	<ValidationSummary />

	@if (battery.DeviceId is not null)
	{
		<label for="input-InsertionDate">Datum vložení: </label>
		<InputDate id="input-InsertionDate" @bind-Value="battery.InsertionDate" @bind-Value:after="SetRemainingDaysToExpectedLife"></InputDate>
	}

	<label for="input-ExpectedLifespan">Očekávaná doba životnosti (ve dnech): </label>
	<InputNumber id="input-ExpectedLifespan" @bind-Value="battery.ExpectedLifespan" @bind-Value:after="SetRemainingDaysToExpectedLife"></InputNumber>

	@if (battery.ExpectedLifespan is not null)
	{
		<span>Podle očekávané životnosti zbývá do vybití <strong class="@batteryStatusExpectedLifeSpan.CssClass">@(batteryStatusExpectedLifeSpan.Days?.ToString() ?? "")</strong> dní</span>
	}

	<label for="input-Count">Počet: </label>
	<InputNumber id="input-Count" @bind-Value="battery.Count" min="1" max="@maxBatteryCount" required></InputNumber>
	@if (maxBatteryCount is not null)
	{
		<span>Počet dostupných slotů v zařízení pro tuto baterii: @maxBatteryCount</span>
	}

	<label for="input-Description">Popis: </label>
	<InputTextArea id="input-Description" @bind-Value="battery.Description"></InputTextArea>

	<label for="input-Manufacturer">Výrobce: </label>
	<InputText id="input-Manufacturer" @bind-Value="battery.Manufacturer"></InputText>

	<label for="input-UsageHistory">Byla použita v zařízení: </label>
	<InputTextArea id="input-UsageHistory" @bind-Value="battery.UsageHistory"></InputTextArea>

	<label for="input-BatteryType">Typ: </label>
	<InputSelect id="input-BatteryType" @bind-Value="battery.BatteryTypeId" required>
		<option value="0">- Vyberte typ -</option>
		@foreach (BatteryType batteryType in BatteryTypes)
		{
			<option value="@batteryType.Id">@batteryType.Name</option>
		}
	</InputSelect>

	<label for="input-ChemicalComposition">Chemické složení: </label>
	<InputSelect id="input-ChemicalComposition" @bind-Value="battery.ChemicalCompositionId">
		<option value="">- Vyberte typ -</option>
		@foreach (ChemicalComposition chemicalComposition in ChemicalCompositions)
		{
			<option value="@chemicalComposition.Id">@chemicalComposition.Name</option>
		}
	</InputSelect>

	<label for="input-IsRechargeable">Nabíjecí/jednorázová: </label>
	<div id="input-IsRechargeable">
		<InputRadioGroup @bind-Value="battery.IsRechargeable" required>
			<div>
				<InputRadio Value="true" id="input-IsRechargeable-true">Nabíjecí</InputRadio>
				<label for="input-IsRechargeable-true">Nabíjecí</label>
			</div>
			<div>
				<InputRadio Value="false" id="input-IsRechargeable-false">Jednorázová</InputRadio>
				<label for="input-IsRechargeable-false">Jednorázová</label>
			</div>
			
		</InputRadioGroup>
	</div>

	@if (battery.IsRechargeable)
	{
		<!--Nabíjecí baterie-->
		<label for="input-RechargeableBattery-Capacity">Kapacita: </label>
		<InputNumber id="input-RechargeableBattery-Capacity" @bind-Value="rechargeableBattery.Capacity"></InputNumber>

		<label for="input-RechargeableBattery-CycleCount">Počet cyklů: </label>
		<InputNumber id="input-RechargeableBattery-CycleCount" @bind-Value="rechargeableBattery.CycleCount"></InputNumber>
	}
	else
	{
		<!--Jednorázová baterie-->
		<label for="input-DisposableBattery-ExpirationDate">Datum expirace: </label>
		<InputDate id="input-DisposableBattery-ExpirationDate" @bind-Value="disposableBattery.ExpirationDate" @bind-Value:after="SetRemainingDaysToExpirate" required></InputDate>

		<span>Do konce expirace zbývá <strong class="@batteryStatusExpirationDate.CssClass">@(batteryStatusExpirationDate.Days?.ToString() ?? "")</strong> dní</span>
	}

	<hr>

	<button type="submit">Uložit</button>
	<button type="button" class="close" @onclick="Close">Zavřít bez uložení</button>
	@if (BatteryToUpdateId is not null)
	{
		<button type="button" @onclick="() => showConfirm = true">Smazat tuto baterii</button>
	}

	@if (showConfirm)
	{
		<div>
			<p>Opravdu chcete odstranit tuto baterii?</p>
			<button type="button" @onclick="() => DeleteBattery(battery.Id)">Ano</button>
			<button type="button" @onclick="() => showConfirm = false">Ne</button>
		</div>
	}
</EditForm>

@code {
	private string errorMessage = "";
	private bool showConfirm = false;

	/// <summary>
	/// Callback události z rodičovské komponenty
	/// </summary>
	[Parameter]
	public int? BatteryToUpdateId { get; set; }
	[Parameter]
	public EventCallback BatterySaved { get; set; }
	[Parameter]
	public EventCallback Deleted { get; set; }
	[Parameter]
	public EventCallback Cancel { get; set; }
	[Parameter]
	public EventCallback<int> BatterySavedShowBatteryDetail { get; set; }

	private List<BatteryType> BatteryTypes = new();
	private List<ChemicalComposition> ChemicalCompositions = new();
	private Battery battery = new();
	private Device? device = null;
	private int? maxBatteryCount = null;
	private RechargeableBattery rechargeableBattery = new();
	private DisposableBattery disposableBattery = new();

	private BatteryStatusEvaluator batteryStatusEvaluator = new();
	private BatteryStatus batteryStatusExpirationDate = new();
	private BatteryStatus batteryStatusExpectedLifeSpan = new();

	/// <summary>
	/// Načtení potřebných dat při zobrazení komponenty
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	protected override async Task OnInitializedAsync()
	{
		try
		{
			if (BatteryToUpdateId is not null)
			{
				battery = await BatteryService.GetUserBatteryById(BatteryToUpdateId.Value);

				if (battery.DeviceId is not null)
				{
					device = await DeviceService.GetUserDeviceByIdWithBatteries(battery.DeviceId.Value);
				}
				if (device is not null)
				{
					int usedSlots = device.Batteries?.Sum(b => b.Count) ?? 0;
					int freeSlots = device.BatteryCount - usedSlots;
					maxBatteryCount = battery.Count + freeSlots;
				}
				
				if (!battery.IsRechargeable)
				{
					disposableBattery = await DisposableBatteryService.GetDisposableBatteryById(battery.Id) ?? new()
					{
						ExpirationDate = DateOnly.FromDateTime(DateTime.Today)
					};
					rechargeableBattery = new();
				}
				if (battery.IsRechargeable)
				{
					rechargeableBattery = await RechargeableBatteryService.GetRechargeableBatteryById(battery.Id) ?? new();
					disposableBattery = new()
					{
						ExpirationDate = DateOnly.FromDateTime(DateTime.Today)
					};
				}
			}
			else
			{
				battery = new()
				{
					Count = 1
				};
				disposableBattery = new()
				{
					ExpirationDate = DateOnly.FromDateTime(DateTime.Today)
				};
				rechargeableBattery = new();
			}

			BatteryTypes = await BatteryTypeService.GetBatteryTypes();
			ChemicalCompositions = await ChemicalCompositionService.GetChemicalCompositions();

			SetRemainingDaysToExpirate();
			SetRemainingDaysToExpectedLife();
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Uložení zadaných informací o (nové / vybrané) baterii do databáze
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task SaveBattery()
	{
		try
		{
			battery.RechargeableBattery = rechargeableBattery;
			battery.DisposableBattery = disposableBattery;

			if (BatteryToUpdateId is null)
			{
				await BatteryService.AddBattery(battery);

				//Zavolání události v rodičovské komponentě
				await BatterySavedShowBatteryDetail.InvokeAsync(battery.Id);
			}
			else
			{
				if (maxBatteryCount is not null)
				{
					if (battery.Count > maxBatteryCount)
					{
						errorMessage = "Počet baterií může být maximálně: " + maxBatteryCount + ", protože v zařízení již není dostupné místo.";
						return;
					}
				}

				await BatteryService.UpdateBattery(battery);

				//Zavolání události v rodičovské komponentě
				await BatterySaved.InvokeAsync();
			}
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Odstranění vybrané baterie z databáze
	/// </summary>
	/// <param name="batteryId">ID vybrané baterie</param>
	/// <returns>Asynchronní operace</returns>
	private async Task DeleteBattery(int batteryId)
	{
		try
		{
			await BatteryService.DeleteBatteryById(batteryId);

			//Zavolání události v rodičovské komponentě
			await Deleted.InvokeAsync();
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
		finally
		{
			showConfirm = false;
		}
	}

	/// <summary>
	/// Nastavení zbývajících dní do konce expirace baterie
	/// </summary>
	private void SetRemainingDaysToExpirate()
	{
		if (!battery.IsRechargeable)
		{
			batteryStatusExpirationDate = batteryStatusEvaluator.RemainingDaysToExpirate(disposableBattery.ExpirationDate);
		}
	}

	/// <summary>
	/// Nastavení zbývajících dní do předpokládaného data životnosti
	/// </summary>
	private void SetRemainingDaysToExpectedLife()
	{
		if (battery.ExpectedLifespan is not null && battery.InsertionDate is not null)
		{
			batteryStatusExpectedLifeSpan = batteryStatusEvaluator.RemainingDaysToExpectedLife(battery.InsertionDate.Value, battery.ExpectedLifespan.Value);
		}
	}

	/// <summary>
	/// Zavření této komponety s formulářem bez uložení zadaných dat
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task Close()
	{
		//Zavolání události v rodičovské komponentě
		await Cancel.InvokeAsync();
	}
}
