@using Microsoft.AspNetCore.Components.Authorization
@using SpravceBaterii.Data.Models
@using SpravceBaterii.Services
@using SpravceBaterii.Services.Tools

@inject DeviceService DeviceService
@inject LocationService LocationService
@inject BatteryTypeService BatteryTypeService
@inject ExceptionHandlerService ExceptionHandlerService

<h2>Formulář pro vytvoření/úpravu zařízení</h2>

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
	<p>@errorMessage</p>
}

<EditForm Model="@device" OnValidSubmit="SaveDevice" FormName="DeviceForm" class="add-update">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<label for="input-Name">Název: </label>
	<InputText id="input-Name" @bind-Value="device.Name" required></InputText>

	<label for="input-Count">Maximální počet baterií: </label>
	<InputNumber id="input-Count" @bind-Value="device.BatteryCount" min="1" required></InputNumber>

	<label for="input-BatteryType">Typ baterií v zařízení: </label>
	<InputSelect id="input-BatteryType" @bind-Value="device.BatteryTypeId" required>
		<option value="">- Vyberte typ -</option>
		@foreach (BatteryType batteryType in BatteryTypes)
		{
			<option value="@batteryType.Id">@batteryType.Name</option>
		}
	</InputSelect>

	<label for="input-Description">Popis: </label>
	<InputTextArea id="input-Description" @bind-Value="device.Description"></InputTextArea>

	<label for="input-Manufacturer">Výrobce: </label>
	<InputText id="input-Manufacturer" @bind-Value="device.Manufacturer"></InputText>

	<label for="input-Location">Umístění (kde se zařízení nachází): </label>
	<InputSelect id="input-Location" @bind-Value="device.LocationId">
		<option value="">- Vyberte umístění -</option>
		@foreach (Location location in Locations)
		{
			<option value="@location.Id">@location.Name</option>
		}
	</InputSelect>

	<hr>

	<button type="submit">Uložit</button>
	<button type="button" @onclick="Close">Zavřít bez uložení</button>
	<button type="button" @onclick="() => showConfirm = true">Smazat toto zařízení</button>

	@if (showConfirm)
	{
		<div>
			<p>Opravdu chcete odstranit toto zařízení?</p>
			<button type="button" @onclick="() => DeleteDevice(device.Id)">Ano</button>
			<button type="button" @onclick="() => showConfirm = false">Ne</button>
		</div>
	}
</EditForm>

@code {
	private string errorMessage = "";
	private bool showConfirm = false;

	/// <summary>
	/// Callback události z rodičovské komponenty
	/// </summary>
	[Parameter]
	public int? DeviceToUpdateId { get; set; }
	[Parameter]
	public EventCallback DeviceSaved { get; set; }
	[Parameter]
	public EventCallback Cancel { get; set; }
	[Parameter]
	public EventCallback<int> DeviceSavedShowDeviceDetail { get; set; }

	private Device device = new();
	private List<Location> Locations = new();
	private List<BatteryType> BatteryTypes = new();

	private BatteryStatusEvaluator batteryStatusEvaluator = new();

	/// <summary>
	/// Načtení potřebných dat při zobrazení komponenty
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	protected override async Task OnInitializedAsync()
	{
		try
		{
			if (DeviceToUpdateId is not null)
			{
				device = await DeviceService.GetUserDeviceById(DeviceToUpdateId.Value);
			}
			else
			{
				device = new()
				{
					BatteryCount = 1
				};
			}
			Locations = await LocationService.GetLocations();
			BatteryTypes = await BatteryTypeService.GetBatteryTypes();
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Uložení zadaných informací o (novém / vybraném) zařízení do databáze
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task SaveDevice()
	{
		try
		{
			if (DeviceToUpdateId is null)
			{
				await DeviceService.AddDevice(device);

				//Zavolání události v rodičovské komponentě
				await DeviceSavedShowDeviceDetail.InvokeAsync(device.Id);
			}
			else
			{
				await DeviceService.UpdateDevice(device);

				//Zavolání události v rodičovské komponentě
				await DeviceSaved.InvokeAsync();
			}
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Odstranění vybraného zařízení z databáze
	/// </summary>
	/// <param name="deviceId">ID vybraného zařízení</param>
	/// <returns>Asynchronní operace</returns>
	private async Task DeleteDevice(int deviceId)
	{
		try
		{
			await DeviceService.DeleteDeviceById(deviceId);

			//Zavolání události v rodičovské komponentě
			await DeviceSaved.InvokeAsync();
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Získání stavu baterie podle zbývajících dní do konce expirace
	/// </summary>
	/// <param name="battery">Baterie</param>
	/// <returns>Status baterie</returns>
	private BatteryStatus SetRemainingDaysToExpirate(Battery battery)
	{
		if (!battery.IsRechargeable && battery.DisposableBattery is not null)
		{
			return batteryStatusEvaluator.RemainingDaysToExpirate(battery.DisposableBattery.ExpirationDate);
		}
		return new BatteryStatus();
	}

	/// <summary>
	/// Získání stavu baterie podle zbývajících dní do předpokládaného data životnosti
	/// </summary>
	/// <param name="battery">Baterie</param>
	/// <returns>Status baterie</returns>
	private BatteryStatus SetRemainingDaysToExpectedLife(Battery battery)
	{
		if (battery.ExpectedLifespan is not null && battery.InsertionDate is not null)
		{
			return batteryStatusEvaluator.RemainingDaysToExpectedLife(battery.InsertionDate.Value, battery.ExpectedLifespan.Value);
		}
		return new BatteryStatus();
	}

	/// <summary>
	/// Zavření této komponety s formulářem bez uložení zadaných dat
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task Close()
	{
		//Zavolání události v rodičovské komponentě
		await Cancel.InvokeAsync();
	}
}
