@using Microsoft.AspNetCore.Components.Authorization
@using SpravceBaterii.Data.Models
@using SpravceBaterii.Services
@using SpravceBaterii.Services.Tools

@inject BatteryService BatteryService
@inject DeviceService DeviceService
@inject ExceptionHandlerService ExceptionHandlerService
@inject ModalNavigationService ModalNavigationService

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
	<p class="error-message">@errorMessage</p>
}

<div class="component-header">
	<h2>
		Detail zařízení
		@if (isDataLoaded)
		{
			@(": " + device.Name)
		}
	</h2>
</div>

@if (isDataLoaded)
{
	<table>
		<tr>
			<td>Název zařízení: </td>
			<td>@device.Name</td>
		</tr>
		<tr>
			<td>Popis zařízení: </td>
			<td><textarea readonly>@device.Description</textarea></td>
		</tr>
		<tr>
			<td>Max. počet baterií v zařízení: </td>
			<td>@device.BatteryCount</td>
		</tr>
		<tr>
			<td>Typ baterií: </td>
			<td>@device.BatteryType.Name</td>
		</tr>
		<tr>
			<td>Počet aktuálně vložených baterií: </td>
			<td>@(device.Batteries?.Sum(b => b.Count) ?? 0)</td>
		</tr>
		<tr>
			<td>Výrobce: </td>
			<td>@device.Manufacturer</td>
		</tr>
		<tr>
			<td>Umístění: </td>
			<td>@device.Location?.Name</td>
		</tr>
	</table>
}
else
{
	<h2>Detail Zařízení</h2>
}

<hr>

@if (Batteries.Count < 1)
{
	<h3>V tomto zařízení není vložena žádná baterie</h3>
}
else
{
	<h3>Vložené baterie:</h3>

	<div class="table-container">
		<table class="selectable">
			<thead>
				<tr>
					<th>Počet</th>
					<th>Označení</th>
					<th>Popis</th>
					<th>Typ</th>
					<th>Datum expirace</th>
					<th>Do konce expirace zbývá dní</th>
					<th>Datum vložení</th>
					<th>Předpokládaná doba výdrže (ve dnech)</th>
					<th>Zbývající předpokládaná životnost</th>
					<th>Akce</th>
				</tr>
			</thead>
			<tbody>
				@foreach (Battery battery in Batteries)
				{
					<tr @onclick="() => ModalNavigationService.Open(typeof(BatteryDetail), battery.Id)" title="Zobrazit detail">
						<td>@battery.Count</td>
						<td>@battery.BatteryType.Name</td>
						<td><textarea readonly>@battery.Description</textarea></td>
						@if (battery.IsRechargeable)
						{
							<td>Nabíjecí</td>
							<td></td>
							<td></td>
						}
						else
						{
							<td>Jednorázová</td>
							<td>@(battery.DisposableBattery?.ExpirationDate.ToShortDateString() ?? "")</td>
							BatteryStatus batteryStatusExpirationDate = SetRemainingDaysToExpirate(battery);
							<td class="@(batteryStatusExpirationDate?.CssClass ?? "")">@(batteryStatusExpirationDate?.Days?.ToString() ?? "")</td>
						}
						<td>@(battery.InsertionDate?.ToShortDateString() ?? "")</td>
						<td>@(battery.ExpectedLifespan?.ToString() ?? "")</td>
						@{
							BatteryStatus batteryStatusExpectedLifeSpan = SetRemainingDaysToExpectedLife(battery);
							<td class="@(batteryStatusExpectedLifeSpan?.CssClass ?? "")">@(batteryStatusExpectedLifeSpan?.Days?.ToString() ?? "")</td>
						}

						<td>
							<button @onclick:stopPropagation="true" @onclick="() => { selectedBatteryId = battery.Id; showConfirmEjectOrDeleteSelectedBattery = true; }" title="">Vysunout / odstranit</button>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

<hr>

<div class="action-buttons">
	<button @onclick="() => ModalNavigationService.Open(typeof(DeviceForm), device.Id)">Upravit zařízení</button>
	@if ((device.Batteries?.Sum(b => b.Count) ?? 0) < device.BatteryCount)
	{
		<button @onclick="() => ModalNavigationService.Open(typeof(InsertBatteryToDevice), device.Id)">Vložit baterii</button>
	}

	@if (device.LocationId is null)
	{
		<button @onclick="() => ModalNavigationService.Open(typeof(SetLocation), device.Id)">Nastavit umístění</button>
	}
	else
	{
		<button @onclick="() => ModalNavigationService.Open(typeof(SetLocation), device.Id)">Změnit umístění</button>
	}

	@if (device.Batteries?.Count > 0)
	{
		<button type="button" @onclick="() => showConfirmEjectOrDeleteAllBatteries = true">Vysunout / odstranit všechny baterie z tohoto zařízení</button>
	}

	<button type="button" @onclick="() => showConfirmDeleteDevice = true">Odstranit toto zařízení</button>
</div>

@if (showConfirmDeleteDevice)
{
	<div class="overlay">
		<div class="overlay-content">
			<p>Opravdu chcete odstranit toto zařízení?</p>
			<p>Vložené baterie budou ponechány.</p>
			<div class="action-buttons">
				<button type="button" @onclick="async () => await DeleteDevice(false)">Ano</button>
				<button type="button" @onclick="() => showConfirmDeleteDevice = false">Ne</button>
			</div>
		</div>
	</div>
}
@if (showConfirmKeepOrDeleteBatteryFromDeletedDevice)
{
	<div class="overlay">
		<div class="overlay-content">
			<p>Chcete baterie z odstraněného zařízení zachovat nebo také odstranit?</p>
			<div class="action-buttons">
				<button type="button" @onclick="() => DeleteDevice(false)">Zachovat</button>
				<button type="button" @onclick="() => DeleteDevice(true)">Odstranit</button>
			</div>
		</div>
	</div>
}
@if (selectedBatteryId is not null && showConfirmEjectOrDeleteSelectedBattery)
{
	<div class="overlay">
		<div class="overlay-content">
			<p>Chcete tuto baterii jen vysunotou nebo vysunout a odstranit?</p>
			<div class="action-buttons">
				<button type="button" @onclick="async () => await EjectBatteryFromDevice(false)">Jen vysunout</button>
				<button type="button" @onclick="async () => await EjectBatteryFromDevice(true)">Vysunout a odstranit</button>
				<button type="button" @onclick="() => { showConfirmEjectOrDeleteSelectedBattery = false; selectedBatteryId = null; }">Zrušit akci</button>
			</div>
		</div>
	</div>
}
@if (showConfirmEjectOrDeleteAllBatteries)
{
	<div class="overlay">
		<div class="overlay-content">
			<p>Chcete všechny baterie z tohoto zařízení jen vysunotou nebo vysunout a odstranit?</p>
			<div class="action-buttons">
				<button @onclick="async () => await EjectBatteriesFromDevice(false)">Jen vysunout</button>
				<button @onclick="async () => await EjectBatteriesFromDevice(true)">Vysunout a odstranit</button>
				<button @onclick="() => showConfirmEjectOrDeleteAllBatteries = false">Zrušit tuto akci</button>
			</div>
		</div>
	</div>
}

@code {
	/// <summary>
	/// Vstupní parametr - ID položky pro její načtení
	/// </summary>
	[Parameter]
	public int ItemId { get; set; }


	private string errorMessage = "";
	private int? selectedBatteryId = null;
	private bool showConfirmDeleteDevice = false;
	private bool showConfirmKeepOrDeleteBatteryFromDeletedDevice = false;
	private bool showConfirmEjectOrDeleteSelectedBattery = false;
	private bool showConfirmEjectOrDeleteAllBatteries = false;
	private bool isDataLoaded = false;

	private Device device = new();
	private List<Battery> Batteries = new();

	private BatteryStatusEvaluator batteryStatusEvaluator = new();


	/// <summary>
	/// Načtení potřebných dat při zobrazení komponenty
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	protected override async Task OnInitializedAsync()
	{
		await LoadDeviceList();
	}

	/// <summary>
	/// Načtení potřebných informací z databáze
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task LoadDeviceList()
	{
		try
		{
			device = await DeviceService.GetUserDeviceByIdWithDetails(ItemId);
			Batteries = await BatteryService.GetUserBatteriesByDeviceId(device.Id);

			isDataLoaded = true;
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Odstranění vybraného zařízení z databáze
	/// </summary>
	/// <param name="deleteInsertedBatteries">bool, zachovat / odstranit baterie v zařízení</param>
	/// <returns>Asynchronní operace</returns>
	private async Task DeleteDevice(bool deleteInsertedBatteries)
	{
		try
		{
			if (device.Batteries?.Count > 0)
			{
				if (showConfirmKeepOrDeleteBatteryFromDeletedDevice == false)
				{
					showConfirmKeepOrDeleteBatteryFromDeletedDevice = true;
					return;
				}

				await EjectBatteriesFromDevice(deleteInsertedBatteries);
			}

			showConfirmKeepOrDeleteBatteryFromDeletedDevice = false;

			await DeviceService.DeleteDeviceById(ItemId);

			ModalNavigationService.MarkForReload();
			ModalNavigationService.CloseAll();
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
			showConfirmKeepOrDeleteBatteryFromDeletedDevice = false;
		}
		finally
		{
			showConfirmDeleteDevice = false;
		}
	}

	/// <summary>
	/// Vysunutí / smazání všech baterií v zařízení
	/// </summary>
	/// <param name="deleteBatteries">bool, zachovat / odstranit baterie</param>
	/// <returns>Asynchronní operace</returns>
	private async Task EjectBatteriesFromDevice(bool deleteBatteries)
	{
		try
		{
			if (device.Batteries?.Count > 0)
			{
				if (deleteBatteries)
				{
					foreach (Battery battery in device.Batteries)
					{
						await BatteryService.DeleteBatteryById(battery.Id);
					}
				}
				else
				{
					foreach (Battery battery in device.Batteries)
					{
						await BatteryService.EjectBatteryFromDevice(battery.Id, device.Name);
					}
				}

				ModalNavigationService.MarkForReload();

				await LoadDeviceList();
			}
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
		finally
		{
			showConfirmEjectOrDeleteSelectedBattery = false;
			showConfirmEjectOrDeleteAllBatteries = false;
			selectedBatteryId = null;
		}
	}

	/// <summary>
	/// Vysunutí / odstranění vybrané baterie ze zařízení
	/// </summary>
	/// <param name="deleteEjectedBattery">bool, zachovat / odstranit baterii</param>
	/// <returns>Asynchronní operace</returns>
	private async Task EjectBatteryFromDevice(bool deleteEjectedBattery)
	{
		try
		{
			if (selectedBatteryId is null)
			{
				return;
			}

			if (deleteEjectedBattery)
			{
				await BatteryService.DeleteBatteryById(selectedBatteryId!.Value);
			}
			else
			{
				await BatteryService.EjectBatteryFromDevice(selectedBatteryId!.Value, device.Name);
			}

			ModalNavigationService.MarkForReload();

			await LoadDeviceList();
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
		finally
		{
			showConfirmEjectOrDeleteSelectedBattery = false;
			selectedBatteryId = null;
		}
	}

	/// <summary>
	/// Získání stavu baterie podle zbývajících dní do konce expirace
	/// </summary>
	/// <param name="battery">Baterie</param>
	/// <returns>Status baterie</returns>
	private BatteryStatus SetRemainingDaysToExpirate(Battery battery)
	{
		if (!battery.IsRechargeable && battery.DisposableBattery is not null)
		{
			return batteryStatusEvaluator.RemainingDaysToExpirate(battery.DisposableBattery.ExpirationDate);
		}
		return new BatteryStatus();
	}

	/// <summary>
	/// Získání stavu baterie podle zbývajících dní do předpokládaného data životnosti
	/// </summary>
	/// <param name="battery">Baterie</param>
	/// <returns>Status baterie</returns>
	private BatteryStatus SetRemainingDaysToExpectedLife(Battery battery)
	{
		if (battery.ExpectedLifespan is not null && battery.InsertionDate is not null)
		{
			return batteryStatusEvaluator.RemainingDaysToExpectedLife(battery.InsertionDate.Value, battery.ExpectedLifespan.Value);
		}
		return new BatteryStatus();
	}
}
