@using Microsoft.AspNetCore.Components.Authorization
@using SpravceBaterii.Data.Models
@using SpravceBaterii.Services
@using SpravceBaterii.Services.Tools

@inject BatteryService BatteryService
@inject DeviceService DeviceService
@inject ExceptionHandlerService ExceptionHandlerService

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
	<p>@errorMessage</p>
}

@if (isDataLoaded)
{
	<h2>Detail zařízení: @device.Name</h2>

	<table>
		<tr>
			<td>Název zařízení: </td>
			<td>@device.Name</td>
		</tr>
		<tr>
			<td>Popis zařízení: </td>
			<td><textarea readonly>@device.Description</textarea></td>
		</tr>
		<tr>
			<td>Max. počet baterií v zařízení: </td>
			<td>@device.BatteryCount</td>
		</tr>
		<tr>
			<td>Typ baterií: </td>
			<td>@device.BatteryType.Name</td>
		</tr>
		<tr>
			<td>Počet aktuálně vložených baterií: </td>
			<td>@(device.Batteries?.Sum(b => b.Count) ?? 0)</td>
		</tr>
		<tr>
			<td>Výrobce: </td>
			<td>@device.Manufacturer</td>
		</tr>
		<tr>
			<td>Umístění: </td>
			<td>@device.Location?.Name</td>
		</tr>
	</table>
}
else
{
	<h2>Detail Zařízení</h2>
}

<hr>

@if (Batteries.Count < 1)
{
	<h3>V tomto zařízení není vložena žádná baterie</h3>
}
else
{
	<h3>Vložené baterie:</h3>

	<table>
		<tr>
			<th>Počet</th>
			<th>Označení</th>
			<th>Popis</th>
			<th>Typ</th>
			<th>Datum expirace</th>
			<th>Do konce expirace zbývá dní</th>
			<th>Datum vložení</th>
			<th>Předpokládaná doba výdrže (ve dnech)</th>
			<th>Zbývající předpokládaná životnost</th>
			<th>Akce</th>
		</tr>
		@foreach (Battery battery in Batteries)
		{
			<tr>
				<td>@battery.Count</td>
				<td>@battery.BatteryType.Name</td>
				<td><textarea readonly>@battery.Description</textarea></td>
				@if (battery.IsRechargeable)
				{
					<td>Nabíjecí</td>
					<td></td>
					<td></td>
				}
				else
				{
					<td>Jednorázová</td>
					<td>@(battery.DisposableBattery?.ExpirationDate.ToShortDateString() ?? "")</td>
					BatteryStatus batteryStatusExpirationDate = SetRemainingDaysToExpirate(battery);
					<td class="@(batteryStatusExpirationDate?.CssClass ?? "")">@(batteryStatusExpirationDate?.Days?.ToString() ?? "")</td>
				}
				<td>@(battery.InsertionDate?.ToShortDateString() ?? "")</td>
				<td>@(battery.ExpectedLifespan?.ToString() ?? "")</td>
				@{
					BatteryStatus batteryStatusExpectedLifeSpan = SetRemainingDaysToExpectedLife(battery);
					<td class="@(batteryStatusExpectedLifeSpan?.CssClass ?? "")">@(batteryStatusExpectedLifeSpan?.Days?.ToString() ?? "")</td>
				}

				<td><button @onclick="() => EditBattery.InvokeAsync(battery.Id)">Upravit tuto baterii</button></td>
			</tr>
		}
	</table>
}

<hr>

<h3>Akce:</h3>
<button @onclick="() => EditDevice.InvokeAsync(device.Id)">Upravit zařízení</button>
@if ((device.Batteries?.Sum(b => b.Count) ?? 0) < device.BatteryCount)
{
	<button @onclick="() => InsertBattery.InvokeAsync(device.Id)">Vložit baterii</button>
}
<button type="button" @onclick="() => showConfirm = true">Odstranit toto zařízení</button>

<hr>

<button type="button" @onclick="Close">Zavřít</button>

@if (showConfirm)
{
	<div>
		<p>Opravdu chcete odstranit toto zařízení?</p>
		<button type="button" @onclick="DeleteDevice">Ano</button>
		<button type="button" @onclick="() => showConfirm = false">Ne</button>
	</div>
}

@code {
	private string errorMessage = "";
	private bool showConfirm = false;
	private bool isDataLoaded = false;

	/// <summary>
	/// Callback události z rodičovské komponenty
	/// </summary>
	[Parameter]
	public int DeviceId { get; set; }
	[Parameter]
	public EventCallback Deleted { get; set; }
	[Parameter]
	public EventCallback Cancel { get; set; }
	[Parameter]
	public EventCallback<int> EditBattery { get; set; }
	[Parameter]
	public EventCallback<int> EditDevice { get; set; }
	[Parameter]
	public EventCallback<int> InsertBattery { get; set; }

	private Device device = new();
	private List<Battery> Batteries = new();

	private BatteryStatusEvaluator batteryStatusEvaluator = new();

	/// <summary>
	/// Načtení potřebných dat při zobrazení komponenty
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	protected override async Task OnInitializedAsync()
	{
		try
		{
			device = await DeviceService.GetUserDeviceByIdWithDetails(DeviceId);
			Batteries = await BatteryService.GetUserBatteriesByDeviceId(device.Id);

			isDataLoaded = true;
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Odstranění vybraného zařízení z databáze
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task DeleteDevice()
	{
		try
		{
			await DeviceService.DeleteDeviceById(DeviceId);

			//Zavolání události v rodičovské komponentě
			await Deleted.InvokeAsync();
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Získání stavu baterie podle zbývajících dní do konce expirace
	/// </summary>
	/// <param name="battery">Baterie</param>
	/// <returns>Status baterie</returns>
	private BatteryStatus SetRemainingDaysToExpirate(Battery battery)
	{
		if (!battery.IsRechargeable && battery.DisposableBattery is not null)
		{
			return batteryStatusEvaluator.RemainingDaysToExpirate(battery.DisposableBattery.ExpirationDate);
		}
		return new BatteryStatus();
	}

	/// <summary>
	/// Získání stavu baterie podle zbývajících dní do předpokládaného data životnosti
	/// </summary>
	/// <param name="battery">Baterie</param>
	/// <returns>Status baterie</returns>
	private BatteryStatus SetRemainingDaysToExpectedLife(Battery battery)
	{
		if (battery.ExpectedLifespan is not null && battery.InsertionDate is not null)
		{
			return batteryStatusEvaluator.RemainingDaysToExpectedLife(battery.InsertionDate.Value, battery.ExpectedLifespan.Value);
		}
		return new BatteryStatus();
	}

	/// <summary>
	/// Zavření této komponety s formulářem bez uložení zadaných dat
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task Close()
	{
		//Zavolání události v rodičovské komponentě
		await Cancel.InvokeAsync();
	}
}
