@using Microsoft.AspNetCore.Components.Authorization
@using SpravceBaterii.Data.Models
@using SpravceBaterii.Services
@using SpravceBaterii.Services.Tools

@inject DeviceService DeviceService
@inject LocationService LocationService
@inject BatteryTypeService BatteryTypeService
@inject ExceptionHandlerService ExceptionHandlerService
@inject ModalNavigationService ModalNavigationService

<div class="component-header">
	@if (ItemId is null)
	{
		<h2>Formulář pro zadání nového zařízení</h2>
	}
	else
	{
		<h2>Formulář pro úpravu zařízení</h2>
	}
</div>

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
	<p class="error-message">@errorMessage</p>
}

<!--Zobrazení potvrzovacího dialogu-->
<ConfirmDialog @ref="confirmDialog" />

<EditForm Model="@device" OnValidSubmit="SaveDevice" FormName="DeviceForm" class="add-update">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<p class="required-info">Pole označená <span>*</span> jsou povinná.</p>

	<label for="input-Name">Název: </label>
	<InputText id="input-Name" @bind-Value="device.Name" required></InputText>

	<label for="input-Count">Maximální počet baterií: </label>
	<InputNumber id="input-Count" @bind-Value="device.BatteryCount" min="@minBatteryCount" required></InputNumber>
	@if (usedSlots > 0)
	{
		<span>Zařízení již obsahuje tento počet baterií: @usedSlots</span>
		<span>Pokud chcete nastavit nižší počet, vyjmětě nejdříve baterie.</span>
	}

	<label for="input-BatteryType">Typ baterií v zařízení: </label>
	<InputSelect id="input-BatteryType" @bind-Value="device.BatteryTypeId" required>
		<option value="0">- Vyberte typ -</option>
		@foreach (BatteryType batteryType in BatteryTypes)
		{
			<option value="@batteryType.Id">@batteryType.Name</option>
		}
	</InputSelect>

	<label for="input-Description">Popis: </label>
	<InputTextArea id="input-Description" @bind-Value="device.Description"></InputTextArea>

	<label for="input-Manufacturer">Výrobce: </label>
	<InputText id="input-Manufacturer" @bind-Value="device.Manufacturer"></InputText>

	<label for="input-Location">Umístění (kde se zařízení nachází): </label>
	<InputSelect id="input-Location" @bind-Value="device.LocationId">
		<option value="">- Vyberte umístění -</option>
		@foreach (Location location in Locations)
		{
			<option value="@location.Id">@location.Name</option>
		}
	</InputSelect>

	<hr>

	<div class="action-buttons">
		<button type="submit">Uložit</button>

		@if(ItemId is not null)
		{
			<button type="button" @onclick="() => DeleteDevice(device.Id)">Odstranit zařízení</button>
		}
	</div>
</EditForm>

@code {
	/// <summary>
	/// Vstupní parametr - ID položky pro její načtení
	/// </summary>
	[Parameter]
	public int? ItemId { get; set; }


	private string errorMessage = "";
	private ConfirmDialog confirmDialog = default!;

	private Device device = new();
	private List<Location> Locations = new();
	private List<BatteryType> BatteryTypes = new();
	private int minBatteryCount = 1;
	private int usedSlots = 0;
	private BatteryStatusEvaluator batteryStatusEvaluator = new();


	/// <summary>
	/// Načtení potřebných dat při zobrazení komponenty
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	protected override async Task OnInitializedAsync()
	{
		try
		{
			if (ItemId is not null)
			{
				device = await DeviceService.GetUserDeviceByIdWithBatteries(ItemId.Value);

				if (device.Batteries?.Count > 0)
				{
					usedSlots = device.Batteries?.Sum(b => b.Count) ?? 0;
					minBatteryCount = Math.Max(usedSlots, 1);
				}
			}
			else
			{
				device = new()
				{
					BatteryCount = 1
				};
			}
			Locations = await LocationService.GetLocations();
			BatteryTypes = await BatteryTypeService.GetBatteryTypes();
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Uložení zadaných informací o (novém / vybraném) zařízení do databáze
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task SaveDevice()
	{
		try
		{
			if (device.BatteryCount < minBatteryCount)
			{
				errorMessage = "Maximální počet baterií musí být alespoň: " + minBatteryCount + ", protože zařízení již obsahuje tento počet baterií";
				return;
			}
			if (ItemId is null)
			{
				await DeviceService.AddDevice(device);

				ModalNavigationService.MarkForReload();			
				ModalNavigationService.CloseAndOpen(typeof(DeviceDetail), device.Id);
			}
			else
			{
				await DeviceService.UpdateDevice(device);

				ModalNavigationService.MarkForReload();
				ModalNavigationService.Close();
			}
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Odstranění vybraného zařízení z databáze
	/// </summary>
	/// <param name="deviceId">ID vybraného zařízení</param>
	/// <returns>Asynchronní operace</returns>
	private async Task DeleteDevice(int deviceId)
	{
		try
		{
			if (await confirmDialog.Show("Opravdu chcete toto zařízení odstranit z evidence?", new() { "Odstranit", "Zrušit" }) == 1)
			{
				await DeviceService.DeleteDeviceById(deviceId);

				ModalNavigationService.MarkForReload();
				ModalNavigationService.CloseAll();
			}
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Získání stavu baterie podle zbývajících dní do konce expirace
	/// </summary>
	/// <param name="battery">Baterie</param>
	/// <returns>Status baterie</returns>
	private BatteryStatus SetRemainingDaysToExpirate(Battery battery)
	{
		if (!battery.IsRechargeable && battery.DisposableBattery is not null)
		{
			return batteryStatusEvaluator.RemainingDaysToExpirate(battery.DisposableBattery.ExpirationDate);
		}
		return new BatteryStatus();
	}

	/// <summary>
	/// Získání stavu baterie podle zbývajících dní do předpokládaného data životnosti
	/// </summary>
	/// <param name="battery">Baterie</param>
	/// <returns>Status baterie</returns>
	private BatteryStatus SetRemainingDaysToExpectedLife(Battery battery)
	{
		if (battery.ExpectedLifespan is not null && battery.InsertionDate is not null)
		{
			return batteryStatusEvaluator.RemainingDaysToExpectedLife(battery.InsertionDate.Value, battery.ExpectedLifespan.Value);
		}
		return new BatteryStatus();
	}
}
