@using SpravceBaterii.Services

@inject ModalNavigationService ModalNavigationService

@implements IDisposable

@if (ModalNavigationService.GetCurrentComponent()?.ComponentType == typeof(BatteryDetail))
{
	<div class="overlay">
		<div class="overlay-content">
			<BatteryDetail ItemId="@ModalNavigationService.GetCurrentComponent()!.SelectedId!.Value" />
		</div>
	</div>
}
else if (ModalNavigationService.GetCurrentComponent()?.ComponentType == typeof(BatteryForm))
{
		<div class="overlay">
			<div class="overlay-content">
			<BatteryForm ItemId="@ModalNavigationService.GetCurrentComponent()?.SelectedId" />
		</div>
	</div>
}
else if (ModalNavigationService.GetCurrentComponent()?.ComponentType == typeof(DeviceDetail))
{
		<div class="overlay">
			<div class="overlay-content">
			<DeviceDetail ItemId="@ModalNavigationService.GetCurrentComponent()!.SelectedId!.Value" />
		</div>
	</div>
}
else if (ModalNavigationService.GetCurrentComponent()?.ComponentType == typeof(DeviceForm))
{
		<div class="overlay">
			<div class="overlay-content">
			<DeviceForm ItemId="@ModalNavigationService.GetCurrentComponent()?.SelectedId" />
		</div>
	</div>
}
else if (ModalNavigationService.GetCurrentComponent()?.ComponentType == typeof(LocationDetail))
{
		<div class="overlay">
			<div class="overlay-content">
			<LocationDetail ItemId="@ModalNavigationService.GetCurrentComponent()!.SelectedId!.Value" />
		</div>
	</div>
}
else if (ModalNavigationService.GetCurrentComponent()?.ComponentType == typeof(LocationForm))
{
		<div class="overlay">
			<div class="overlay-content">
			<LocationForm ItemId="@ModalNavigationService.GetCurrentComponent()?.SelectedId" />
		</div>
	</div>
}
else if (ModalNavigationService.GetCurrentComponent()?.ComponentType == typeof(SetLocation))
{
		<div class="overlay">
			<div class="overlay-content">
			<SetLocation ItemId="@ModalNavigationService.GetCurrentComponent()!.SelectedId!.Value" />
		</div>
	</div>
}
else if (ModalNavigationService.GetCurrentComponent()?.ComponentType == typeof(InsertBatteryToDevice))
{
		<div class="overlay">
			<div class="overlay-content">
			<InsertBatteryToDevice ItemId="@ModalNavigationService.GetCurrentComponent()!.SelectedId!.Value" />
		</div>
	</div>
}
else if (ModalNavigationService.GetCurrentComponent()?.ComponentType == typeof(ChargeBattery))
{
		<div class="overlay">
			<div class="overlay-content">
			<ChargeBattery ItemId="@ModalNavigationService.GetCurrentComponent()!.SelectedId!.Value" />
		</div>
	</div>
}

@code {
	/// <summary>
	/// Přihlášení ke sledování události změny v ModalNavigationService
	/// </summary>
	protected override void OnInitialized()
	{
		ModalNavigationService.ModalChanged += StateHasChanged;
	}

	/// <summary>
	/// Odhlášení od sledování události změny v ModalNavigationService
	/// </summary>
	public void Dispose()
	{
		ModalNavigationService.ModalChanged -= StateHasChanged;
	}
}