@using Microsoft.AspNetCore.Components.Authorization
@using SpravceBaterii.Data.Models
@using SpravceBaterii.Services
@using SpravceBaterii.Services.Tools
@using System.ComponentModel.DataAnnotations

@inject LocationService LocationService
@inject DeviceService DeviceService
@inject ExceptionHandlerService ExceptionHandlerService
@inject ModalNavigationService ModalNavigationService

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
    <p class="error-message">@errorMessage</p>
}

<div class="component-header">
    <h2>Výběr umístění</h2>

    <button type="button" class="close" @onclick="Close">Zavřít</button>
</div>

<EditForm Model="@Input" OnValidSubmit="Save" FormName="SetLocation">
	<DataAnnotationsValidator />
	<ValidationSummary />

    <div class="table-container">
        <table class="selectable">
            <thead>
                <tr>
                    <th>Název</th>
                    <th>Podlaží</th>
                    <th>Popis</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Location location in Locations)
                {
                    <tr @onclick="@(() => Input.selectedLocationId = location.Id)" class="@(Input.selectedLocationId == location.Id ? "selected" : "")" title="Vybrat">
                        <td>@location.Name</td>
                        <td>@location.Floor</td>
                        <td><textarea readonly>@location.Description</textarea></td>
                    </tr>
                }
            </tbody>
        </table>
	</div>

	<hr>

    <div class="action-buttons">
	    <button type="submit">Uložit</button>
        <button type="reset" @onclick="@(() => Input.selectedLocationId = null)">Žádné umístění</button>
    </div>
</EditForm>

@code {
    /// <summary>
    /// Vstupní parametr - ID položky pro její načtení
    /// </summary>
    [Parameter]
    public int ItemId { get; set; }


    private string errorMessage = "";
    private InputModel Input = new();

    private Device device = new();
    private List<Location> Locations = new();
    

    /// <summary>
    /// Načtení potřebných dat při zobrazení komponenty
    /// </summary>
    /// <returns>Asynchronní operace</returns>
    protected override async Task OnInitializedAsync()
    {
        try
        {
            device = await DeviceService.GetUserDeviceById(ItemId);
            Input.selectedLocationId = device.LocationId;
            Locations = await LocationService.GetLocations();
        }
        catch (Exception ex)
        {
            errorMessage = ExceptionHandlerService.HandleException(ex);
        }
    }

    /// <summary>
    /// Aktualizace umístění u zařízení v databázi
    /// </summary>
    /// <returns>Asynchronní operace</returns>
    private async Task Save()
    {
        try
        {
            device.LocationId = Input.selectedLocationId;
            await DeviceService.UpdateDevice(device);

            ModalNavigationService.MarkForReload();
            ModalNavigationService.Close();
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Zavření této komponety s formulářem bez uložení zadaných dat
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task Close()
	{
        ModalNavigationService.Close();
	}


    /// <summary>
    /// Model pro vstupní data z formuláře
    /// </summary>
    private class InputModel
    {
        public int? selectedLocationId { get; set; } = null;
    }
}
